.header {
    position: relative;
    color: white;
    text-align: center;
  }
  
  .header:after {
    content: "";
    position: absolute;
    display: block;
    height: 10px;
    bottom: -10px;
    /* -height */
    left: 0;
    right: 0;
    /* TODO Add browser prefixes */
    background: linear-gradient( 45deg, transparent 33.333%, #312F2E 33.333%, #312F2E 66.667%, transparent 66.667%), linear-gradient( -45deg, transparent 33.333%, #312F2E 33.333%, #312F2E 66.667%, transparent 66.667%);
    background-size: 8px 20px;
    /* toothSize doubleHeight */
    background-position: 0 -10px;
    /* horizontalOffset -height */
  }